/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Set the global 'box-sizing' state to 'border-box'.
 * *::after and *::before used to select pseudo-elements not selectable by *. */

*, *::after, *::before {
    box-sizing: border-box;
}

/* Remove all margins and padding from certain element and add word wrap. */

blockquote, body, caption, dd, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, ul, table, td, th {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/* Prevent 'sub' and 'sup' affecting 'line-height'. */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Remove most spacing between table cells. */

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow-x: auto;
}

td, th {
    padding: 0.5rem;
}

/* Base typography. */

html {
    font-size: 14px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.714;
    margin: 0px auto;
    text-rendering: optimizeLegibility;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* Classes for light, dark and sepia themes.
 * Must agree with classes returned by useTheme() in dom_distiller_viewer.js
 * and with CSS class constants in viewer.cc */

.light {
    color: #424242;
    background-color: #FAFAFA;
}

.dark {
    color: #E0E0E0;
    background-color: #212121;
}

.sepia {
    color: #000;
    background-color: rgb(203, 173, 141);
}

.light a:link, .sepia a:link {
    color: #55F;
}

.dark a:link {
    color: #88F;
}

.light a:visited, .sepia a:visited {
    color: #55F;
}

.dark a:visited {
    color: #D872D8;
}

.light :not(.hljs) > code, .light pre:not(.hljs) {
    background-color: #EEE;
    border-color: #AAA;
}

.sepia code, .sepia pre {
    background-color: rgb(217, 196, 175);
    border-color: rgb(147, 125, 102);
}

.dark code, .dark pre {
    background-color: #333;
    border-color: #555;
}

.light tbody tr:nth-child(odd) {
    background-color: #EEE;
}

.light th, .light td {
    border-left: 1px solid #AAA;
}

.sepia tbody tr:nth-child(odd) {
    background-color: rgb(217, 196, 175);
}

.sepia th, .sepia td {
    border-left: 1px solid rgb(147, 125, 102);
}

.dark tbody tr:nth-child(odd) {
    background-color: #333;
}

.dark th, .dark td {
    border-left: 1px solid #555;
}

/* #contentWrap is added to be more specific than the color theme rules */

#contentWrap th:first-child {
    border-left: none;
}

#contentWrap td:first-child {
    border-left: none;
}

/* Font settings */

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: 'Roboto', sans-serif;
}

.monospace {
    font-family: monospace;
}

/* Define vertical rhythm (baseline grid of 4px). */

blockquote, caption, code, dd, dl, fieldset, figure, form, hr, legend, ol, p, pre, q, table, td, th, ul {
    margin-bottom: 1.143rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.417;
    margin: 1em 0;
}

/* Content. */

#loadingIndicator {
    width: 100%;
    padding-bottom: 2em;
}

#loadingIndicator>img, #loadingIndicator>svg {
    display: block;
    height: 2.5em;
    margin: auto;
    width: 2.5em;
}

/* Margins for Show Original link. */

.light #closeReaderView {
    border-top: 1px solid #E0E0E0;
    color: #4285F4;
}

.dark #closeReaderView {
    border-top: 1px solid #555;
    color: #3adaff;
}

.sepia #closeReaderView {
    border-top: 1px solid rgb(147, 125, 102);
    color: #55F;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

#closeReaderView {
    /*
  TODO(mdjones): Remove the "display: none;" style when the Reader Mode bar
                 behaves like the toolbar when scrolling.
  */
    display: none;
    flex: 0 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 14px;
    padding: 24px 16px;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

article > #gistContent, #gist-comments, footer {
    margin: 24px 16px 24px 16px;
}

#mainContent {
    flex: 1 1 auto;
    margin: 0px auto;
    width: 100%;
}

@media screen {
    #mainContent {
        max-width: 50em;
    }
}

#articleHeader {
    margin-top: 24px;
    width: 100%;
}

#titleHolder {
    font-size: 1.714rem;
    line-height: 1.417;
    margin: 0 16px;
}

blockquote {
    border-left: 4px solid #888;
    padding-left: 1em;
}

cite {
    opacity: .8;
    font-style: italic;
}

hr {
    opacity: .5;
    border-style: 1px solid #aaa;
    width: 100%;
}

q {
    opacity: .8;
    display: block;
    font-style: italic;
    font-weight: 600;
}

embed, img, object, video {
    max-width: 100%;
}

/* TODO(sunangel): make images zoomable. */

img {
    display: block;
    height: auto;
    margin: 0.6rem auto 0.4rem auto;
}

/* TODO(nyquist): set these classes directly in the dom distiller. */

embed+[class*='caption'], figcaption, img+[class*='caption'], object+[class*='caption'], video+[class*='caption'] {
    opacity: .8;
    display: table;
    margin-bottom: 1rem;
    font-size: 0.857rem;
    line-height: 1.667;
}

ol, ul {
    margin-left: 1.296rem;
}

code, pre {
    border: 1px solid;
    border-radius: 2px;
}

pre code {
    border: none;
}

pre {
    line-height: 1.642;
    padding: .5em;
    white-space: pre-wrap;
}

body .hidden {
    display: none;
}

.clear {
    clear: both;
}

/* Iframe sizing. */

.youtubeContainer {
    height: 0px;
    /* This is the perecnt height of a standard HD video. */
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.youtubeIframe {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

iframe.embedded-gist {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: -8px;
}

img {
    max-width: 100%;
}

footer {
    margin-top: 4em;
    margin-bottom: 2em;
    border-top: 1px solid #e1e4e8;
}

footer p {
    margin-top: 1.143rem;
    display: none;
    font-size: 0.9em;
    color: #888;
    font-style: italic;
}

.header-anchor,
.header-anchor:hover,
.header-anchor:visited  {
    opacity: 0;
    color: #ccc !important;
    margin-left: -25px;
    width: 20px;
    position: absolute;
    text-align: right;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
    opacity: .6;
}

@media (max-device-width: 768px) {
    .header-anchor,
    .header-anchor:hover,
    .header-anchor:visited  {
        margin-left: -15px;
        width: 15px;
    }
}

article {
    margin-bottom: 45px;
}

#authorHolder {
    margin: 8px 16px 30px;
    display: none;
    font-style: italic;
    color: #aaa;
}

#authorHolder a,
#authorHolder a:visited {
    color: #aaa !important;
    text-decoration: underline;
}

#authorAvatar {
    display: inline-block;
}

#gist-comments {
    display: none;
}
#gist-comments[style*="block"] {
    border-top: 1px solid #e1e4e8;
}
.comment-block {
    border-top: 1px solid #e1e4e8;
    padding: 15px 0;
}
.comment-block>.comment {
    margin: 0;
}
.comment {
    background: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin: 0 15px 15px;
    overflow: hidden;
    padding: 0;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
}
.comment-block-title {
    background-color: #fff;
    border-bottom: 1px solid #e1e4e8;
    color: #586069;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 15px;
    position: relative;
}
.comment-block-title:before,
.comment-block-title:after {
    content: "";
    display: table;
}
.avatar {
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
}
.comment-block-title .avatar {
    border-radius: 3px;
    float: left;
    margin-right: 10px;
}
.comment-block-title .username {
    color: #444d56 !important;
    font-weight: 600;
}
.comment-block-title .timestamp {
    color: #586069 !important;
}
.comment-block-title a {
    text-decoration: none;
}
.comment-block-meta {
    margin-left: 42px;
}
.comment-block-comment {
    padding: 15px;
}
.comment-body {
    line-height: 1.5;
    word-wrap: break-word;
}
.comment-body:before,
.comment-body:after {
    content: "";
    display: table;
}

.hljs {
  white-space: pre;
  word-wrap: normal;
}
